<body class="min-h-screen flex flex-col bg-gray-50 dark:bg-gray-800">
  <!-- Sticky Header -->
  <app-header class="sticky top-0 z-50 bg-white dark:bg-gray-900 shadow-sm" />

  <!-- Main Content -->
  <main class="flex-1 container mx-auto px-4 py-6">
    
      <app-task-tab/>
   
  </main>

  <!-- Sticky Footer -->
  <footer
    class="sticky bottom-0 z-50 bg-white dark:bg-gray-900 border-t dark:border-gray-700 p-4"
  >
    <div
      class="container mx-auto text-center text-sm text-gray-600 dark:text-gray-300"
    >
      <p>&copy; 2025 Turbo Task Manager. All rights reserved.</p>
    </div>
  </footer>
</body>
