<body class="min-h-screen flex flex-col bg-gray-50 dark:bg-gray-800">
  <!-- Sticky Header -->
  <app-header class="sticky top-0 z-50 bg-white dark:bg-gray-900 shadow-sm" />

  <!-- Main Content -->
  <main class="flex-1 container mx-auto px-4 py-6">
    <mat-card  class="shadow-none border dark:border-gray-700">
      <mat-card-header>
        <mat-card-title class="text-lg font-semibold">Tasks Board</mat-card-title>
      </mat-card-header>
      
      <mat-card-content class="mt-4">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Work">
            <app-task-board class="block mt-4" />
          </mat-tab>
          <mat-tab label="Personal">
            <div class="py-4 text-gray-500 dark:text-gray-400">
              Completed tasks will appear here
            </div>
          </mat-tab>
          <mat-tab label="Home">
            <div class="py-4 text-gray-500 dark:text-gray-400">
              Archived tasks will appear here
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </main>
  

  <!-- Sticky Footer -->
  <footer class="sticky bottom-0 z-50 bg-white dark:bg-gray-900 border-t dark:border-gray-700 p-4">
    <div class="container mx-auto text-center text-sm text-gray-600 dark:text-gray-300">
      <p>&copy; 2025 Turbo Task Manager. All rights reserved.</p>
    </div>
  </footer>
</body>