<mat-card class="shadow-none border dark:border-gray-700">
  <mat-card-header>
    <mat-card-title class="text-lg font-semibold">Tasks Board</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Work">
        <app-task-board
          [tasksByStatus]="
            groupedTasks['work']
          "
          label="Work Tasks"
          class="block mt-4"
        />
      </mat-tab>
      <mat-tab label="Personal">
        <app-task-board
          [tasksByStatus]="
            groupedTasks['personal']
          "
          label="Personal Tasks"
          class="block mt-4"
        />
      </mat-tab>
      <mat-tab label="Home">
        <app-task-board
          [tasksByStatus]="
            groupedTasks['home']
          "
          label="Home Tasks"
          class="block mt-4"
        />
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
